Importing the Dependencies

Laut Herr Resanovic:

- 3 Modelle

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

## Problem Statement
The wine company wants to create new wine brand. The company wants to be able to infer the quality of the wine based on the several chemical components in wine. Therefore you should build the ML model which is capable to recongnise the quality of the wine based on the chemical properties. See wine data.

## Data Import
Import the winedate.csv

In [22]:
df = pd.read_csv("winedata.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Data Analysis
Initial decision which Models/Algorithms are going to be used as potential candidates for the final model. Elaborate why these models

Als erstes Modell um sich zu orientieren verwenden wir die lineare Regression da sie einen simplen Einstiegspunkt gibt und gut interpretierbar ist.

Initial da wir die Weine anhand ihrer Qualität auf einer Skala 1-10 Einordnen wollen war unser erster Gedanke dass wir einen Regressions Algorithmus verwenden wollen. 

Als mögliche Modelle haben wir uns für: RandomForestRegressor, XGBRegressor und Support Vector Regressor entschieden. 

Der RandomForestRegressor ist robust und nichtlinear. Ausreißer egal, Rauschen egal, Overfitting egal. Nichtlinear super weil daten nicht linear

XGB erkennt nichtlineare Muster und man kann viel tunen, Tabellarische Daten sehr gut, ungleich verteilte Daten sehr gut, auch robust, auch ohne viel tuning gute performance, 

Lasso

SVR

## Data Preprocessing
Here you should prepare data accordingly

In [ ]:
#auf Nullwerte prüfen
print(df.isnull().sum())

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [ ]:
#auf Duplikate prüfen
df.duplicated().sum()

np.int64(240)

In [ ]:
#initial 240 Duplikate gefunden, diese gelöscht
df.drop_duplicates()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
#Zielwert vom Features trennen damit Zielwert nicht verfälscht wird da das Modell den Zielwert basierend auf den Features lernen soll
X = df.drop("quality", axis=1)
y = df["quality"]

X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [ ]:
#skalieren damit alle Werte auf der gleichen Skala sind und Ausreißer nicht so stark ins Gewicht fallen

#hätten die Trainings/Testsplits skalieren sollen nicht den ganten DataFrame :(

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

df_scaled = pd.DataFrame(X_scaled, columns=df.drop("quality", axis=1).columns)

df_scaled.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
5,-0.528360,0.738418,-1.391472,-0.524166,-0.264960,-0.274931,-0.196679,0.558274,1.288643,-0.579207,-0.960246
6,-0.241094,0.403229,-1.083370,-0.666062,-0.392483,-0.083669,0.381091,-0.183745,-0.072005,-1.169337,-0.960246
7,-0.585813,0.682553,-1.391472,-0.949853,-0.477498,-0.083669,-0.774449,-1.137769,0.511130,-1.110324,-0.397043
8,-0.298547,0.291499,-1.288771,-0.382271,-0.307468,-0.657454,-0.865676,0.028261,0.316751,-0.520193,-0.866379
9,-0.470907,-0.155419,0.457144,2.526589,-0.349975,0.107592,1.688677,0.558274,0.251958,0.837107,0.072294

## Training and build Models
These models will be used for the evaluation

In [33]:
# Splitten der Daten in Test und Train Split, Aufteilung hier 75% Training und 25% Testing. RandomState = 1
# Skalieren für Tree Based Models zwar nicht notwendig da sie robust sind, jedoch schadet es auch nicht und für Lineare Regression oder 
# Lasso wichtig da hier ein großer numerischer Ausreißer höher gewichtet wird, nicht weil er besonders Relevant ist sondern weil es einfach eine
# große Zahl ist
X_train0, X_test0, y_train0, y_test0 = train_test_split(X, y, test_size=0.25, random_state=1)

X_train0 = scaler.fit_transform(X_train0)
X_test0 = scaler.transform(X_test0)

In [34]:
#Modell initialisieren
linear_regression = LinearRegression()

#Modell trainieren
linear_regression.fit(X_train0, y_train0)

#Vorhersagen treffen
y_prediction = linear_regression.predict(X_test0)

#Bewertung
mse = mean_squared_error(y_test0, y_prediction)

print("MSE Lineare Regression:", mse)

MSE Lineare Regression: 0.3865813862375548

## Evaluation and selection of the model
Here multiple models should be evaluated and finaly selected. 

### Accuracy score

### Precision

### Recall

### F1 Score

## Conclusion and reflection
Please reflect on the project and provide the conclusion

## Test the model with some data
Create your own new data representing wine and test the model